@import '../../vendor/filament/forms/dist/module.esm.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

::-moz-selection {
    @apply bg-hpc-gold;
    @apply text-hpc-red;
}

::selection {
    @apply bg-hpc-gold;
    @apply text-hpc-red;
}

.hpc-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.hpc-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.hpc.gold.DEFAULT') theme('colors.hpc.red.DEFAULT');
}

.hpc-scrollbar::-webkit-scrollbar-track {
    @apply bg-hpc-red;
}

.hpc-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-hpc-gold;
}


#main-header {
    @apply h-[135px];
}

#main-header.scrolled {
    @apply h-[90px];
    @apply bg-gray-900;
    @apply shadow;
}

.filament-forms-field-wrapper-label span {
    @apply text-base;
    @apply text-white;
}

.filament-forms-text-input-component div {
    @apply w-full;
}

.filament-forms-text-input-component input,
.filament-forms-date-time-picker-component > button,
.filament-forms-select-component .choices__inner,
.filament-tables-pagination-records-per-page-selector select,
.filament-tables-search-input input {
    @apply bg-hpc-red-700;
    @apply border-hpc-red-800;
    @apply focus:border-hpc-gold-500;
    @apply text-white;
}

.filament-forms-field-wrapper-helper-text {
    @apply text-hpc-gold;
}

.filament-tables-table-container {
    @apply !border-hpc-red-800;
}

.filament-tables-table-container select,
.filament-tables-table .filament-tables-empty-state {
    @apply bg-hpc-red-800;
}

.filament-tables-container,
.filament-tables-pagination-container {
    @apply !bg-hpc-red-800;
    @apply !border-hpc-red-800;
    @apply !shadow-none;
}

.filament-tables-table,
.filament-tables-table tbody {
    @apply !divide-hpc-red-800;
}

.filament-tables-table th button,
.filament-tables-table th span {
    @apply !text-hpc-gold;
    @apply !text-base;
}

.filament-tables-pagination-container {
    @apply !bg-hpc-red-800;
}

.filament-tables-table-container > .grid {
    @apply !bg-hpc-red-700;
    @apply !divide-hpc-red-800;
}

.filament-tables-text-column,
.filament-tables-badge-column {
    @apply !bg-hpc-red-700;
}

.calendar .days-grid .day.end,
.calendar .days-grid .day.start {
    @apply !bg-hpc-red-700;
}

.filament-tables-filters-form label span {
    @apply !text-hpc-red;
}

.filament-tables-filters-form .filament-forms-date-time-picker-component > button {
    @apply !bg-white;
    @apply !border-gray-300;
    @apply focus:!border-hpc-gold;
    @apply focus:!ring-hpc-gold;
}

.filament-tables-row.hover\:bg-gray-50:hover {
    @apply hover:!bg-hpc-red-800;
}

.filament-dropdown-panel .filament-forms-date-time-picker-component input[readonly],
.filament-dropdown-panel .filament-forms-date-time-picker-component input[type="number"] {
    @apply !text-gray-900;
}

.members-announcement a {
    @apply text-hpc-gold;
    @apply hover:underline;
}

.choices__list--dropdown {
    @apply !text-gray-900;
}

.choices__list--dropdown .choices__item:hover,
.choices__list--dropdown .choices__item.is-highlighted {
    @apply !bg-hpc-gold;
    @apply !text-gray-900;
}

.filament-forms-wizard-component > ol {
    @apply !bg-hpc-red-700;
    @apply !border-hpc-red-800;
}

.filament-forms-wizard-component .group-hover\:bg-gray-200 {
    @apply group-hover:!bg-hpc-red-800;
}
